Repository pydantic/logfire: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff format, lockfile

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to main branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: ruff
        name: Ruff
        entry: poetry run ruff
        args: ["check", "--fix"]
        types: [python]
        language: system
      - id: ruff format
        name: Ruff Format
        entry: poetry run ruff
        args: [format]
        language: system
        types: [python]
      # - id: pyright
      #   name: pyright
      #   entry: poetry run pyright
      #   language: system
      #   types: [python]
      #   pass_filenames: false
      - id: lockfile
        name: lockfile
        entry: poetry check
        args: [--lock]
        language: system
        pass_filenames: false
        files: "pyproject.toml|poetry.lock"

Update README (#2)
  README.md
Due: none

Add linter & pipeline (#1)
  .github/workflows/main.yml
  .pre-commit-config.yaml
  poetry.lock
  poetry.toml
  pyproject.toml
Due: lockfile

Use Python 3.8 for pipeline
  .github/workflows/main.yml
Due: none

Use Python 3.8 for pipeline (#3)
  .github/workflows/main.yml
Due: none

Add tests
  .github/workflows/main.yml
  poetry.lock
  pyproject.toml
Due: lockfile

Add tests
  .github/workflows/main.yml
  pyproject.toml
Due: lockfile

Move docs to `docs.pydantic.dev/logfire` (#2171)
  logfire/_internal/cli.py
  logfire/_internal/utils.py
  mkdocs.yml
Due: ruff, ruff format

Push
  .gitignore
  .pre-commit-config.yaml
  mkdocs.yml
  poetry.lock
  poetry.toml
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  tests/test_json_args.py
  tests/test_structlog.py
Due: ruff, ruff format, lockfile

use rye
  .github/workflows/main.yml
Due: none

Sync instead
  .github/workflows/main.yml
Due: none

Add pip
  pyproject.toml
  requirements-dev.lock
Due: lockfile

Add pre-commit
  pyproject.toml
  requirements-dev.lock
Due: lockfile

Use rye instead of standalone commands
  .pre-commit-config.yaml
  pyproject.toml
Due: lockfile

Lint without pre-commit
  .github/workflows/main.yml
Due: none

Install rye via curl
  .github/workflows/main.yml
Due: none

install properly
  .github/workflows/main.yml
Due: none

Add mkdocs packages
  mkdocs.yml
  pyproject.toml
  requirements-dev.lock
Due: lockfile

move up
  pyproject.toml
Due: lockfile

Use Rye instead of Poetry (#5)
  .github/workflows/main.yml
  .gitignore
  .pre-commit-config.yaml
  mkdocs.yml
  poetry.lock
  poetry.toml
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  tests/test_json_args.py
  tests/test_structlog.py
Due: ruff, ruff format, lockfile

Add test suite
  .github/workflows/main.yml
Due: none

Add latest os versiojn
  .github/workflows/main.yml
Due: none

fix versions
  .github/workflows/main.yml
Due: none

Ensure requests to production fail
  .github/workflows/main.yml
Due: none

Add CI true
  .github/workflows/main.yml
Due: none

something
  .github/workflows/main.yml
Due: none

add action
  .github/actions/no-production-domains/action.yml
  .github/workflows/main.yml
Due: none

run only on ubuntu
  .github/actions/no-production-domains/action.yml
  .github/workflows/main.yml
Due: none

Check if runner is linux
  .github/workflows/main.yml
Due: none

Run pipeline only on windows for now
  .github/workflows/main.yml
Due: none

add
  .github/workflows/main.yml
Due: none

Add test suite (#6)
  .github/workflows/main.yml
Due: none

Add custom PyPI
  pyproject.toml
  requirements-dev.lock
Due: lockfile

Add index pwd and username
  .github/workflows/main.yml
Due: none

Fix project name prompt not showing from scripts (#2189)
  logfire/_internal/config.py
  tests/test_cli.py
  tests/test_configure.py
Due: ruff, ruff format

Handle not confirming organization during project initialization (#2211)
  logfire/_internal/config.py
  tests/test_configure.py
Due: ruff, ruff format

Prevent calling OTEL set_tracer_provider multiple times (#2218)
  logfire/_internal/config.py
  tests/test_configure.py
Due: ruff, ruff format

Use UV_EXTRA_INDEX_URL
  .github/workflows/main.yml
  .gitignore
  pyproject.toml
Due: lockfile

Add custom PyPI (#7)
  .github/workflows/main.yml
  .gitignore
  pyproject.toml
  requirements-dev.lock
Due: lockfile
